@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded");

:root {
  /* base style */
  color: var(--md-sys-color-on-surface);
  font-family: "Roboto";

  /* material variables */
  --md-icon-font: "Material Symbols Rounded";

  /* colors */
  --md-sys-color-primary: rgb(43 60 0);
  --md-sys-color-surface-tint: rgb(82 101 38);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(97 116 51);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(50 57 34);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(105 112 85);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(10 61 55);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(72 117 110);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 250 238);
  --md-sys-color-on-background: rgb(27 28 21);
  --md-sys-color-surface: rgb(250 250 238);
  --md-sys-color-on-surface: rgb(16 18 11);
  --md-sys-color-surface-variant: rgb(226 228 212);
  --md-sys-color-on-surface-variant: rgb(53 55 44);
  --md-sys-color-outline: rgb(81 84 72);
  --md-sys-color-outline-variant: rgb(108 110 97);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 41);
  --md-sys-color-inverse-on-surface: rgb(242 241 229);
  --md-sys-color-inverse-primary: rgb(185 207 131);
  --md-sys-color-primary-fixed: rgb(97 116 51);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(73 91 29);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(105 112 85);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(81 88 62);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(72 117 110);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(47 92 86);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(199 199 188);
  --md-sys-color-surface-bright: rgb(250 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 244 232);
  --md-sys-color-surface-container: rgb(233 233 221);
  --md-sys-color-surface-container-high: rgb(221 222 210);
  --md-sys-color-surface-container-highest: rgb(210 210 199);
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: rgb(206 229 151);
    --md-sys-color-surface-tint: rgb(185 207 131);
    --md-sys-color-on-primary: rgb(29 42 0);
    --md-sys-color-primary-container: rgb(132 153 83);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(216 224 191);
    --md-sys-color-on-secondary: rgb(34 40 18);
    --md-sys-color-secondary-container: rgb(140 148 119);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(182 230 221);
    --md-sys-color-on-tertiary: rgb(0 43 39);
    --md-sys-color-tertiary-container: rgb(108 153 146);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 210 204);
    --md-sys-color-on-error: rgb(84 0 3);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(18 20 13);
    --md-sys-color-on-background: rgb(227 227 215);
    --md-sys-color-surface: rgb(18 20 13);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(69 72 60);
    --md-sys-color-on-surface-variant: rgb(220 222 206);
    --md-sys-color-outline: rgb(177 179 164);
    --md-sys-color-outline-variant: rgb(143 146 132);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(227 227 215);
    --md-sys-color-inverse-on-surface: rgb(41 43 35);
    --md-sys-color-inverse-primary: rgb(60 78 16);
    --md-sys-color-primary-fixed: rgb(213 236 157);
    --md-sys-color-on-primary-fixed: rgb(12 20 0);
    --md-sys-color-primary-fixed-dim: rgb(185 207 131);
    --md-sys-color-on-primary-fixed-variant: rgb(43 60 0);
    --md-sys-color-secondary-fixed: rgb(223 230 197);
    --md-sys-color-on-secondary-fixed: rgb(13 19 2);
    --md-sys-color-secondary-fixed-dim: rgb(194 202 170);
    --md-sys-color-on-secondary-fixed-variant: rgb(50 57 34);
    --md-sys-color-tertiary-fixed: rgb(188 236 227);
    --md-sys-color-on-tertiary-fixed: rgb(0 21 18);
    --md-sys-color-tertiary-fixed-dim: rgb(161 208 199);
    --md-sys-color-on-tertiary-fixed-variant: rgb(10 61 55);
    --md-sys-color-surface-dim: rgb(18 20 13);
    --md-sys-color-surface-bright: rgb(68 69 61);
    --md-sys-color-surface-container-lowest: rgb(6 8 4);
    --md-sys-color-surface-container-low: rgb(29 30 23);
    --md-sys-color-surface-container: rgb(39 41 33);
    --md-sys-color-surface-container-high: rgb(50 51 43);
    --md-sys-color-surface-container-highest: rgb(61 62 54);
  }
}

body {
  background-color: var(--md-sys-color-surface);
}
